<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="hongqi" class="test.bean.HongQi"/>
	<bean id="bmw" class="test.bean.Bmw"/>
	<bean id="display" class="test.bean.Display">
		<lookup-method name="getCar" bean="bmw"/>
	</bean>


	<bean id="methodReplace" class="test.bean.MethodReplace"/>
	<bean id="method" class="test.bean.Method">
		<replaced-method name="display" replacer="methodReplace"/>
	</bean>
</beans>